<html>
  <head>Página Inicial</head>
  <body>
    <form action="/check" method="POST">
     <div>
       <label for="nomeUsuario">Nome do Usuário: </label>
       <input type="text" id="nomeUsuario" name="nomeUsuario" />

       <br/>
       <label for="dataNascimentoUsuario">Data de Nascimento do Usuário: </label>
       <input type="text" id="dataNascimentoUsuario" name="dataNascimentoUsuario" />

       <br/>
       <button type="submit">Verificar</button>
      <div>
    </form>
  </body>
</html>
